<!DOCTYPE html>
<%- include('../partials/head'); %>
<html lang="pt-br">
<body class="container">
    <%- include('../partials/header', {pagina: 'Sobre'}); %>
    <main>
        <div class="jumbotron">
            <h1>Sobre mim</h1>
            <p>Olá! Me chamo Mairon Santana e sou aspirante a desenvolvedor</p>
        </div>
    </main>
    <%- include('../partials/footer'); %>
</body>
</html>